.login-page {
    min-height: 100vh;
    background: #ffa07a;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 40px;
}

.login-heading {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #333;
    max-width: 900px;
}